<main class="container p-5">
<div class="d-flex justify-content-between align-items-center">
<%= link_to sanitize("&larr; Back to quotes"), quotes_path, class: "btn btn-primary" %>
    <h1>Edit Quote</h1>
  </div>
  <hr/>
  <%= turbo_frame_tag @quote do %>
    <%= render "form", quote: @quote %>
  <% end %>
</main>
